li.lecture-time(class=val.class data-event=val.data)
    a(href="#")
        .lecture-info
            h6.lecture-title #{val.lecture}
            h6.lecture-location #{val.location}
        if(val.memo.length > 0)
        each m in val.memo
            .lecture-noti(data-toggle="tooltip" data-placement="top" title="" data-original-title=m.message)
                i.material-icons.ic-lecture-noti assignment
                span.lecture-noti-title #{m.title}